body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: hsla(113, 0%, 100%, 1);
  background-image: radial-gradient(
      at 92% 27%,
      hsla(301, 100%, 91%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 58% 88%, hsla(171, 93%, 65%, 1) 0px, transparent 50%),
    radial-gradient(at 27% 17%, hsla(84, 79%, 84%, 1) 0px, transparent 50%);
}

.qulupnay {
  background-image: url("https://html.design/demo/floram/images/o1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
  padding: 15px;
  border-radius: 16px;
}

.blur {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.09);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 35px;
}

.blur-dark {
  /* From https://css.glass */
  background: rgba(176, 172, 172, 0.48);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.6px);
  -webkit-backdrop-filter: blur(9.6px);
  border: 1px solid rgba(176, 172, 172, 0.84);
}

.limon {
  background-image: url("https://html.design/demo/floram/images/o2.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
  padding: 15px;
  border-radius: 16px;
}

.qovun {
  background-image: url("https://html.design/demo/floram/images/o3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 190px;
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
  padding: 15px;
  border-radius: 16px;
  margin-top: 10px;
}

.blur3 {
  /* From https://css.glass */
  background: rgba(230, 225, 225, 0.14);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.3px);
  -webkit-backdrop-filter: blur(9.3px);
 
}

/* https://html.design/demo/floram/images/o3.jpg */

* {
  text-decoration: none !important;
}

.jumbotron {
  min-height: 400px;
  background-color: #ffe299;
  background-image: radial-gradient(
      at 25% 36%,
      hsla(169, 78%, 71%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 83% 66%, hsla(316, 91%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 5% 34%, hsla(100, 70%, 78%, 1) 0px, transparent 50%),
    radial-gradient(at 25% 16%, hsla(348, 87%, 79%, 1) 0px, transparent 50%),
    radial-gradient(at 16% 7%, hsla(268, 62%, 77%, 1) 0px, transparent 50%),
    radial-gradient(at 36% 24%, hsla(251, 85%, 68%, 1) 0px, transparent 50%),
    radial-gradient(at 51% 15%, hsla(92, 63%, 60%, 1) 0px, transparent 50%),
    radial-gradient(at 61% 84%, hsla(17, 96%, 70%, 1) 0px, transparent 50%);
  border-radius: 26px;
}

.custom-blog {
  position: relative;
}

.date {
  position: absolute;
  top: 40%;
  color: white;
}

@media (max-width: 460px) {
  .date {
    position: absolute;
    padding: 10px !important;
    top: 40% !important;
    color: white;
    font-size: 15px !important;
  }
}
